* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
 /*    border: 2px solid pink; */
}

body{
    width: 100vw;
    height: 100vh;
}

.header-container{
    background: rgb(236, 186, 243);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul{
    display: flex;
    list-style: none; 
}

nav ul li{
   
    margin-right: 4rem;
}

nav ul li:last-child{
    margin-right: 10rem;
}

nav a{
    color: yellow;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

nav a:hover{
    color: rgb(180, 44, 162);
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}